@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  scroll-behavior: smooth;
  --background: #f2f9ff;

  --primary: #062f4b;
  --primary-light: #062f4b;
  --primary-dark: #000523;

  --secondary: #08635a;
  --secondary-light: #449187;
  --secondary-dark: #003831;

  --warning: #fbb611;
  --warning-light: #ffe751;
  --warning-dark: #c38600;

  --danger: #e37f7d;
  --danger-light: #ffb0ac;
  --danger-dark: #ae5051;

  --info: #e7f5fe;
  --info-light: #7da1c7;
  --info-disable: #cedce9;
}

/* color  */
@theme inline {
  --font-sanse: IRANSansWeb, 'sans-serif';

  --color-background: var(--background);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);
  --color-warning-dark: var(--warning-dark);

  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);
  --color-danger-dark: var(--danger-dark);

  --color-info: var(--info);
  --color-info-light: var(--info-light);
  --color-info-disable: var(--info-disable);

  /* text-size  */
  --text-heading-1-ds: 3.5rem; /* 56px */
  --text-heading-1-ds--font-weight: 700;

  --text-heading-1-mb: 1.75rem; /* 28px */
  --text-heading-1-mb--font-weight: 700;

  --text-heading-2-ds: 2.5rem; /* 40px */
  --text-heading-2-ds--font-weight: 700;

  --text-heading-2-mb: 1.5rem; /* 24px */
  --text-heading-2-mb--font-weight: 700;

  --text-heading-3-ds: 2rem; /* 32px */
  --text-heading-3-ds--font-weight: 700;

  --text-heading-3-mb: 1.25rem; /* 20px */
  --text-heading-3-mb--font-weight: 700;

  --text-heading-4-ds: 1.5rem; /* 24px */
  --text-heading-4-ds--font-weight: 700;

  --text-heading-4-mb: 1.125rem; /* 18px */
  --text-heading-4-mb--font-weight: 700;

  --text-heading-5-ds: 1.25rem; /* 20px */
  --text-heading-5-ds--font-weight: 700;

  --text-heading-5-mb: 1rem; /* 16px */
  --text-heading-5-mb--font-weight: 700;

  --text-heading-6-ds: 1.125rem; /* 18px */
  --text-heading-6-ds--font-weight: 700;

  --text-heading-6-mb: 0.875rem; /* 14px */
  --text-heading-6-mb--font-weight: 700;

  --text-title-lg-ds: 1.25rem; /* 20px */
  --text-title-lg-ds--font-weight: 500;

  --text-title-lg-mb: 1rem; /* 16px */
  --text-title-lg-mb--font-weight: 600;

  --text-title-md-ds: 1rem; /* 16px */
  --text-title-md-ds--line-height: 1.625rem; /* 26px */
  --text-title-md-ds--font-weight: 500;

  --text-title-md-mb: 0.875rem; /* 14px */
  --text-title-md-mb--font-weight: 600;

  --text-title-sm-ds: 0.875rem; /* 14px */
  --text-title-sm-ds--line-height: 1.375rem; /* 22px */
  --text-title-sm-ds--font-weight: 500;

  --text-title-sm-mb: 0.75rem; /* 12px */
  --text-title-sm-mb--font-weight: 600;

  --text-body-lg-ds: 1rem; /* 16px */
  --text-body-lg-ds--line-height: 1.75rem; /* 28px */
  --text-body-lg-ds--font-weight: 400;

  --text-body-lg-mb: 0.875rem; /* 14px */
  --text-body-lg-mb--line-height: 1.625rem; /* 26px */
  --text-body-lg-mb--font-weight: 400;

  --text-body-sm-ds: 0.875rem; /* 14px */
  --text-body-sm-ds--line-height: 1.5rem; /* 24px */
  --text-body-sm-ds--font-weight: 400;

  --text-body-sm-mb: 0.75rem; /* 12px */
  --text-body-sm-mb--line-height: 1.375rem; /* 22px */
  --text-body-sm-mb--font-weight: 400;

  --text-button-lg-ds: 1rem; /* 16px */
  --text-button-lg-ds--font-weight: 600;

  --text-button-lg-mb: 1rem; /* 16px */
  --text-button-lg-mb--font-weight: 600;

  --text-button-md-ds: 0.875rem; /* 14px */
  --text-button-md-ds--font-weight: 600;

  --text-button-md-mb: 0.875rem; /* 14px */
  --text-button-md-mb--font-weight: 600;

  --text-button-sm-ds: 0.875rem; /* 14px */
  --text-button-sm-ds--font-weight: 600;

  --text-button-sm-mb: 0.75rem; /* 12px */
  --text-button-sm-mb--font-weight: 600;

  --text-label-ds: 0.875rem; /* 14px */
  --text-label-ds--font-weight: 500;

  --text-label-mb: 0.75rem; /* 12px */
  --text-label-mb--font-weight: 500;

  --text-input-ds: 1rem; /* 16px */
  --text-input-ds--font-weight: 400;

  --text-input-mb: 0.875rem; /* 14px */
  --text-input-mb--font-weight: 400;

  --text-caption-ds: 0.75rem; /* 12px */
  --text-caption-ds--font-weight: 400;

  --text-caption-mb: 0.75rem; /* 12px */
  --text-caption-mb--font-weight: 400;

  /* radius */
  --radius-50: 5px;
  --radius-100: 10px;
  --radius-200: 20px;
  --radius-300: 30px;
  --radius-400: 40px;
  --radius-500: 50px;

  /* shadow */
  --shadow-menu: 0px 4px 24px 0px hsla(220, 5%, 50%, 0.1);
  --shadow-button: 0px 8px 20px 2px hsla(235, 76%, 59%, 0.15);
}

.iconify-normal > g,
.iconify-normal > path {
  @apply stroke-[1.5px];
}
.container-overflow {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container-overflow::-webkit-scrollbar {
  display: none;
}

.iconify-thin > g,
.iconify-thin > path {
  @apply stroke-[1px];
}
.container-overflow::-webkit-scrollbar {
  @apply hidden h-0 w-0;
}
